
@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <meta charset="utf8" />
    <title></title>
</head>
<body>
    <h1>NBG .Net core Test Calls</h1>
    <h2 style="font-size: 14px;">
        Before you run the calls you need to change the parameters named REPLACE_THIS_VALUE or REPLACE_SANDBOX_ID in the *Controller.cs files
    </h2>

    <p>
        <a class="btn btn-default" href="http://localhost:8083/calls/createsandbox">
            Create Sandbox
        </a>
    </p>
    <p>
        <a class="btn btn-default" href="http://localhost:8083/calls/myAccounts">
            My Accounts
        </a>
    </p>
    <p>
        <a class="btn btn-default" href="http://localhost:8083/calls/deletesandbox">
            Delete Sandbox
        </a>
    </p>
</body>
